# House Price Predictor (Bangalore)

## 1.) Data Preprocessing

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Bengaluru_House_Data.csv')

In [3]:
data.drop(columns=['area_type','availability','society','balcony'],inplace=True)

In [4]:
data.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [5]:
data['location'].value_counts()

Whitefield              540
Sarjapur  Road          399
Electronic City         302
Kanakpura Road          273
Thanisandra             234
                       ...
Devarabisanahalli         1
Doddanakunte              1
Shettihalli               1
Mathikere SBM colony      1
Popular Colony            1
Name: location, Length: 1305, dtype: int64

In [6]:
data['location'] = data['location'].fillna('Sarjapur  Road')

In [7]:
data['size'] = data['size'].fillna('2 BHK')

In [8]:
data['bath'] = data['bath'].fillna(data['bath'].median())

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
location      13320 non-null object
size          13320 non-null object
total_sqft    13320 non-null object
bath          13320 non-null float64
price         13320 non-null float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [10]:
data['bhk'] = data['size'].str.split().str.get(0).astype(int)

In [11]:
data[data['bhk']>20]

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [12]:
data['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [13]:
def convert_range(x):
    temp = x.split('-')
    if len(temp) == 2:
        return (float(temp[0])+float(temp[1]))/2
    try:
        return float(x)
    except:
        return None

In [14]:
data['total_sqft'] = data['total_sqft'].apply(convert_range)

In [15]:
data['total_sqft'].unique()

array([1056. , 2600. , 1440. , ..., 1258.5,  774. , 4689. ])

In [16]:
data['price_per_sqft'] = data['price']*100000 / data['total_sqft']

In [17]:
data['price_per_sqft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price_per_sqft, Length: 13320, dtype: float64

In [18]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [19]:
data['location'].value_counts()

Whitefield              540
Sarjapur  Road          400
Electronic City         302
Kanakpura Road          273
Thanisandra             234
                       ...
Devarabisanahalli         1
Doddanakunte              1
Shettihalli               1
Mathikere SBM colony      1
Popular Colony            1
Name: location, Length: 1305, dtype: int64

In [20]:
data['location'] = data['location'].apply(lambda x:x.strip())
location_count = data['location'].value_counts()

In [21]:
location_count_less_10 = location_count[location_count<=10]
location_count_less_10

Nagappa Reddy Layout              10
Naganathapura                     10
Sadashiva Nagar                   10
Sector 1 HSR Layout               10
Basapura                          10
                                  ..
Rammana Layout                     1
asha township, off hennur road     1
Narayanappa Garden                 1
Maruthi Layout                     1
Sri Kanteshwara Nagar              1
Name: location, Length: 1053, dtype: int64

In [22]:
data['location'] = data['location'].apply(lambda x:'other' if x in location_count_less_10 else x)

In [23]:
data = data[((data['total_sqft']/data['bhk']) >= 300)]

In [24]:
def remove_outliers_sqft(df):
    df_output = pd.DataFrame()
    for key,subdf in df.groupby('location'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)

        gen_df = subdf[(subdf.price_per_sqft > (m-st)) & (subdf.price_per_sqft <= (m+st))]
        df_output = pd.concat([df_output,gen_df],ignore_index =True)
    return df_output
data = remove_outliers_sqft(data)
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10301.000000  10301.000000  10301.000000  10301.000000    10301.000000
mean    1508.440608      2.471702     91.286372      2.574896     5659.062876
std      880.694214      0.979449     86.342786      0.897649     2265.774749
min      300.000000      1.000000     10.000000      1.000000     1250.000000
25%     1110.000000      2.000000     49.000000      2.000000     4244.897959
50%     1286.000000      2.000000     67.000000      2.000000     5175.600739
75%     1650.000000      3.000000    100.000000      3.000000     6428.571429
max    30400.000000     16.000000   2200.000000     16.000000    24509.803922

In [25]:
def bhk_outlier_remover(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] ={
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
            
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')

In [26]:
data = bhk_outlier_remover(data)

In [27]:
data.shape

(7360, 7)

In [28]:
data.drop(columns = ['size','price_per_sqft'],inplace= True)

In [29]:
data.head()

              location  total_sqft  bath  price  bhk
0  1st Block Jayanagar      2850.0   4.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0  148.0    2

In [30]:
data.to_csv('Cleaned_data.csv')

In [31]:
x = data.drop(columns=['price'])
y = data['price']

## 2.) Building Model

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [33]:
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size = 0.2,random_state = 0)

In [34]:
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(5888, 4)
(5888,)
(1472, 4)
(1472,)

### Linear Regression

In [55]:
column_trans = make_column_transformer((OneHotEncoder(sparse= False),['location']),
                                       remainder='passthrough')

In [56]:
scaler = StandardScaler()

In [57]:
lr = LinearRegression(normalize =True)

In [58]:
pipe = make_pipeline(column_trans,scaler,lr)

In [59]:
pipe.fit(X_train,Y_train)

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='passthrough',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categorical_features=None,
                                                                categories=None,
                                                                drop=None,
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='error',
                                                                n_values=None,
                                                                sparse=False),
                                                  ['location'])],
                                   verbose=False)),
                ('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('linearregression',
                 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                                  normalize=True))],
         verbose=False)

In [60]:
Y_pred_LR = pipe.predict(X_test)

In [61]:
r2_score(Y_test,Y_pred_LR)

0.8296009251054471

### Ridge Regression

In [62]:
ridge =Ridge()

In [63]:
pipe = make_pipeline(column_trans,scaler,ridge)

In [64]:
pipe.fit(X_train,Y_train)

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='passthrough',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categorical_features=None,
                                                                categories=None,
                                                                drop=None,
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='error',
                                                                n_values=None,
                                                                sparse=False),
                                                  ['location'])],
                                   verbose=False)),
                ('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('ridge',
                 Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                       max_iter=None, normalize=False, random_state=None,
                       solver='auto', tol=0.001))],
         verbose=False)

In [65]:
Y_pred_ridge = pipe.predict(X_test)

In [72]:
r2_score(Y_test,Y_pred_ridge)

0.8296651410179635

### Lasso Regression

In [67]:
lasso =Lasso()

In [68]:
pipe = make_pipeline(column_trans,scaler,lasso)

In [69]:
pipe.fit(X_train,Y_train)

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='passthrough',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categorical_features=None,
                                                                categories=None,
                                                                drop=None,
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='error',
                                                                n_values=None,
                                                                sparse=False),
                                                  ['location'])],
                                   verbose=False)),
                ('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('lasso',
                 Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                       max_iter=1000, normalize=False, positive=False,
                       precompute=False, random_state=None, selection='cyclic',
                       tol=0.0001, warm_start=False))],
         verbose=False)

In [70]:
Y_pred_lasso = pipe.predict(X_test)

In [73]:
r2_score(Y_test,Y_pred_lasso)

0.8199181874762704

### pickling

In [75]:
import pickle

In [76]:
pickle.dump(pipe, open('newRidgeModel.pkl','wb'))

In [80]:
# pip list scikit-learn

In [82]:
!pip install scikit-learn==1.0.2

Collecting scikit-learn==1.0.2
  Using cached https://files.pythonhosted.org/packages/9d/20/0ffe8665a44bce7616bd33d4368a198fecad3b226bcafa38c63ef0f6286f/scikit_learn-1.0.2-cp37-cp37m-win_amd64.whl
Requirement already satisfied: scipy>=1.1.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn==1.0.2) (1.3.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn==1.0.2) (3.1.0)
Requirement already satisfied: numpy>=1.14.6 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn==1.0.2) (1.16.5)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn==1.0.2) (0.13.2)
Installing collected packages: scikit-learn
  Found existing installation: scikit-learn 0.21.3
    Uninstalling scikit-learn-0.21.3:

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'c:\\programdata\\anaconda3\\lib\\site-packages\\scikit_learn-0.21.3.dist-info\\COPYING'
Consider using the `--user` option or check the permissions.

In [ ]:
# !pip3 install --upgrade tensorflow-gpu --user

In [ ]:
data

In [ ]:
conda list scikit-learn